@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

$color-body: rgb(184, 224, 230);
$color-bg: #ffffff;
$color-bg-dark: #1e1e1e;
$color-bg-panel: rgb(218, 247, 252);
$text-color-sec: rgb(240, 240, 240);
$text-color-prim: rgb(63, 63, 63);

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  background-color: $color-bg;
  max-width: 100%;
  min-height: 100% !important;
  height: 90vh;
  color: $text-color-prim;
  background-color: $color-body;
}

a {
  text-decoration: none;
}

#wrapper  {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 65px 90% auto;
  grid-template-columns: 200px auto auto auto 5%;
  grid-template-areas: 'header header header header empty'
                       'side content content content empty'
                       'footer footer footer footer footer';
                       grid-row-gap: 0px;
}

#header   {
  color: $text-color-sec;
  grid-area: header;
  background-color: $color-bg-dark;
  width: 90%;
  padding: 15px;
  height: 35px;
  //border: 1px solid rgba(100, 100, 100, 0.5);
  //box-shadow: 0px 2px 6px -2px;
  border-bottom: .5px solid $color-bg-panel;
  border-bottom-right-radius: 55px;
}

#title {
  //font-family: 'Gugi', cursive;
  font-family: Consolas, monaco, monospace;
  font-size: 30px;
}

#title-versiontag {
    font-size: 10px;
    color: darken($text-color-sec, 10%);
}

#breadCrumbTitle {
  font-family: Consolas, monaco, monospace;
  font-size: 15px;
  text-align: end; 
}

#nav {
  > li {
    text-decoration: none;
    list-style: none;
  }
}

#side {
  border-bottom: .5px solid #0e0e0e;
  transition: display, .5s;
  grid-area: side;
  max-width: 200px;
  margin-left: 0;
  background-color: $color-bg-panel;
  /*
  height: 100%;
  min-width: 100px;
  width: 5%; 
  padding-top: 2px;
  position: absolute;
  */
  padding-bottom: 0;

  ul {
    margin: 0;
    padding-left: 0;
  }

  h1 {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px dotted black;
    margin: 0;
    padding: 10px 0px 10px 0px;
  }

  li {
    text-align: center;
    display: block;
    padding: 10px 2px 10px 2px;
    background-color: $color-bg-panel;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);
    transition: background-color, .5s;
    border-bottom: 1px solid #000;

    &:hover {
      //background-color: radial-gradient(2px, $color-bg-dark, lighten($color-bg-dark, 10));
      //color: lighten($text-color-sec, 20);
      background-color: darken($color-bg-panel, 5%);
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: content, 2s;
      content: "";

      &:hover {
        &:before¨, &:focus {
          content: "> ";
        }
      }
    }
  }
}

#sidePlate {
  background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0));
  width: 3px;
  height: inherit;
  position: absolute;
  top: 0;
}

#content {
  grid-area: content;
  color: $text-color-prim;
  overflow: hidden;
  padding-left: 20px;
  background-color: #f1f1f1f1;
  width: 75%;
  border-bottom-right-radius: 10px;
  border: .5px solid #0e0e0e;
  border-top: none;
}

.box {
  overflow: visible;
  border: 2px solid black;
  border-radius: 10px 10px 0 0;

  .box-top {
      height: 10px;
      border-bottom: 2px solid black;
  }

  .box-inner {
      margin-top: 10px;
  }

}

#dialogue_pr_pos    {
    color: green;
}

#dialogue_pr_neg    {
    color: red;
}

.list-settings {
    display: inline;
    margin-left: 100px;
    
    li {
        text-transform: capitalize;
    }
}
#navBtn {
  display: none;
}

#projects {
  overflow-y: auto;
  height: 100%;
}

.project {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #000;
  border-right: none;

  -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 10px 10px 6px -6px #777;
          
          .projectHeader {
            border: none;
            padding: 5px;
            padding-top: 10px;
            width: 150%;
            min-height: 2px;
            margin-bottom: 10px;
            border-bottom: .5px solid #000;
            background-color: $color-bg-panel;

            h3, a {
              margin: 0;
              text-decoration: none;
              
              & > small {
                font-size: 15px;
              }

            }
          }

          .projectContent {
            padding-left: 5px;
            padding-bottom: 10px;
          }

          a {
            color: inherit;
            text-decoration: underline;
          }

          ul > li {
            list-style-type: none;
            margin-bottom: 2px;
          }

  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 150px;
  }

}

#createProjectBtn {
  font-weight: bold;
  padding: 10px;
  height: 50px;
  width: 180px;
  float: right;
  display: table-cell;
  margin-top: auto;
  margin-bottom: auto;
  background-color: $color-bg-dark;
  border-radius: 0px 0px 0px 15px;
  color: $text-color-sec;
  border: none;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 10px 10px 6px -6px #777;
       font-size: 16px;
}

.required {
  color: red;
}

#createProject {
  margin-top: 20px;
}

#createProject > * {
  display: list-item;
  list-style: none;
  margin-bottom: 20px;
}

#createProject > label {
 display: list-item;
margin-bottom: 4px;
}
#createProject > input[type=radio] {
border-radius: 5px;
border: 1px solid grey;
box-shadow: 1px 2px grey;
font-family: 'Roboto', sans-serif;
font-size: 12px;
padding: 10px;
   &:focus  {
    border: 1px solid black;
  }
}

#createProject > fieldset {
  border: none;
  }

#createProject > button {
background-color: lightgrey;
border: 1px solid grey;
box-shadow: .5px 2px grey;
  &:hover {
    border: 1px solid black;
  }
}



//If selector is checked, show color input else the other thing

#colorS {
  display: list-item;
}

input#r1, input#r2 {
  display: none;
}

input#r1:checked {
 + #l1 {
  color: green;
 }
 + #colorManual {
  display: none!important;
 }

 + #colorSelector {
  display: visible!important;
  }
}

input#r1:checked + #l2 {
  display: visible!important;
}

input#r2:checked + #l2 {
  display: none!important;
}

input#r1:checked + #l2 {
  display: visible!important;
}

input#r2:checked + #l1 {
  display: none!important;
}


input#r2:checked + #colorManual {
  display: visible!important;
}

input#r2:checked+ #colorSelector {
  display: none!important;
}

#projectListHeader {
  width: 100%;
  display: inline-block;
  h1 {
    float: left;
  }
}

.infoBox {
  margin-top: 10px;
  color: $text-color-prim;
  border: 2px solid red;
  background-color: light-grey;
  max-width: 300px;
  padding: 1px 10px 1px 10px;
  box-shadow: 0px 2px 6px -2px;
}

#unViewDescr {
  margin-bottom: 2px;
}

#unViewProp > ul {
  li {
    list-style: none;
    margin-bottom: 10px;
  }
}

#unViewStripe {

}

//Devices with a width less than 900px

@media only screen and (max-width: 900px) {
  #side {
    display: none;
  }
  #wrapper  {
    grid-template-areas: 'header header header header empty'
                         'content content content content empty'
                         'footer footer footer footer footer';
                         grid-row-gap: 0px;
  }
}