<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="cache-control" content="max-age=0" />
        <title>
            {% if gSiteTitle is defined %}
                {{ gSiteTitle }}
            {% else %}
                ProjectManager
            {% endif %}
        </title>
        <link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/default.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <!-- Sidebar Opener -->
            <!--<input type="checkbox" id="navBtn">  
                    <svg style="width:25px;height:25px;top:5px;position:relative;" viewBox="0 0 24 24">
                        <path fill="#ffffff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
            </input>-->

                <span id="title">{{ gSettings['app-title'] }}</span>
                <span id="title-versiontag">Version: {{ gSettings['app-version'] }}</span>
                <span id="breadCrumbTitle">{{ breadcrumb|raw }}</span>
            </div>
            <div id="side">
                    <div id="sidePlate"></div>
                    <h1>Navigation</h1>
                    <ul>
                        <li><a href=""><b>Home</b></a></li>
                        <li><a href="{{ path_for('p.settings') }}">Settings</a></li>
                        <li><a href="{{ path_for('p.projects.index') }}">Projects</a></li>
                    </ul>
            </div>
            <div id="content">
                {% if  gSettings['isFirstStart'] %}
                    <h1>Welcome to the ProjectManager!</h1>
                    <br>
                    <h2>How to get started:</h2>
                    <p>You may create a new Project <a href="{{ path_for('p.projects.index') }}">here</a></p>
                {% else %}
                    <p>Welcome back</p>
                {% endif %}
                <!--<div class="box">
                    <div class="box-top" />
                    <div class="box-inner">          
                        <p>sample text<br><br>herloo</p>
                    </div>
                </div>-->
            </div>
        </div>
    </body>
</html>
