<?php include 'phtmlHeader.php'; ?>
<!DOCTYPE html>
<html>
    <?php phtmlHeader::getHeader(array(
        'title'     => 'hello',
        )); 
    ?>
    <body>
        <div id="wrapper">
            <div id="header">
            <input type="checkbox" id="navBtn">  
                    <svg style="width:25px;height:25px;top:5px;position:relative;" viewBox="0 0 24 24">
                        <path fill="#ffffff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
            </input>

                <span id="title"><?= $settings['general']['app-title'] ?></span>
                <span id="title-versiontag"><?= 'Version: ' . $settings['general']['app-version'] ?></span>
            </div>
            <div id="sidebar">
                <p>SampleTitle</p>
                <ul>
                    <li>Element1</li>
                    <li>Element2</li>
                    <li>Element3</li>
                    <li>Element4</li>
                    <li>Element5</li>
                </ul>
            </div>
            <div id="content">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <!--<div class="box">
                    <div class="box-top" />
                    <div class="box-inner">          
                        <p>sample text<br><br>herloo</p>
                    </div>
                </div>-->
            </div>
        </div>
    </body>
</html>
