<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="cache-control" content="max-age=0" />
        <title>
            {% if gSiteTitle is defined %}
                {{ gSiteTitle }}
            {% else %}
                ProjectManager
            {% endif %}
        </title>
        <link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
                <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/default.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <!-- Sidebar Opener -->
            <!--<input type="checkbox" id="navBtn">  
                    <svg style="width:25px;height:25px;top:5px;position:relative;" viewBox="0 0 24 24">
                        <path fill="#ffffff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
            </input>-->

                <span id="title">{{ gSettings['app-title'] }}</span>
                <span id="title-versiontag">Version: {{ gSettings['app-version'] }}</span>
                <span id="breadCrumbTitle">{{ breadcrumb|raw }}</span>
            </div>
            <div id="side">
                    <div id="sidePlate"></div>
                    <h1>Navigation</h1>
                    <ul>
                        <li><a href="{{ path_for('p.home') }}">Home</a></li>
                        <li><a href="{{ path_for('p.settings') }}">Settings</a></li>
                        <li><a href="{{ path_for('p.projects.index') }}"><b>Projects</b></a></li>
                    </ul>
            </div>
            <div id="content">
                {% if result.exception is not null %}
                    <div class="infoBox">
                        <p>Something went wrong: <br> {{ result.reason }}</p>
                    </div>
                {% endif %}
                {% if get is defined %}
                <form id="createProject" action="">
                    <label for="name"><span class="required">*</span>Name:</label>
                    <input type="text" name="prName" id="name" required>
                    <label for="description"><span class="required">*</span>Description:</label>
                    <textarea name="prDescr" id="description" form="createProject" required></textarea>
                    <label for="customColor">Custom color:</label>
                    <input type="color" name="customColor" id="colorSelector" value="#bfff00">
                    <button type="submit">Create</button>
                  </form>
                {% elseif  isProjectList %}
                    <div id="projectListHeader">
                        <form action="{{ path_for('p.projects.index') }}">
                            <button id="createProjectBtn" name="create (Currently DISABLED)" type="submit">Create new project (Currently disabled)</button>
                        </form>
                        <h1>List all Projects here</h1>
                    </div>
                    <h2>
                    {% if projectConfig.knownProjects.projectCount == 1 %}
                        {{ projectConfig.knownProjects.projectCount }} project was detected: 
                    {% else %}
                        {{ projectConfig.knownProjects.projectCount | default(0) }} projects were detected: 
                    {% endif %}
                    </h2>
                    <div id="projects">
                        {% for project in projectConfig.knownProjects.projects %}
                            <div class="project">
                                <div class="projectHeader" style="background-color: {{ project.project.customColor|default("rgb(218, 247, 252)") }}"><a href="{{ path_for('p.projects.project', { 'pr_name': project.project.id }) }}"><h3>Project: {{ project.project.name }} </h3></a></div>
                                <div class="projectContent">
                                    <ul>
                                        <li>Description: {{ project.project.description|truncate(50) }}</li>
                                        <li>Open it <a href="{{ path_for('p.projects.project', { 'pr_name': project.project.id }) }}">here</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                     {% if currentProject != null %}
                     <small><a href="{{ path_for('p.projects.index') }}">🡨 Go back</a></small>
                       <h1>{{ currentProject.project.name }} </h1>
                       <div id="uniqueView">
                       <div id="unViewStripe" />
                           <h4 id="unViewDescr">
                            <blockquote>{{ currentProject.project.description }}</blockquote>
                           </h4>
                           <hr>
                           <div id="unViewProp">
                               <ul>
                                   <li>Created on: {{ currentProject.project.firstSeen }}</li>
                                   <li style="position: relative">Custom color: {{ project.project.customColor|default("#bfff00") }}<div style="position: absolute; top: 5px; margin-left: 5px; border: 1px solid black; display: inline-block; width: 10px; height: 10px; background-color: {{ project.project.customColor|default("#bfff00") }}"></div></li>
                                   <li>Current folder-location: <code>{{ currentProjectPath }}</code></li>
                                   <br>
                                   <li>Filelist: <cite>Coming soon!</cite></li>
                                </ul>
                           </div>
                       </div>
                     {% else %}
                        <h1>No project with this ID was found</h1>
                     {% endif %}
                {% endif %}
            </div>
        </div>
    </body>
</html>
