<?php include 'phtmlHeader.php'; ?>
<!DOCTYPE html>
<html>
    <?php phtmlHeader::getHeader(array(
        'title'  => 'Projects',
    ));?>
    <body>
        <div id="wrapper">
            <div id="header"><i class="fas fa-bars"></i><span id="title"><?= $settings['general']['app-title'] ?></span>
                <span id="title-versiontag"><?= 'Version: ' . $settings['general']['app-version'] ?></span>
            </div>
            <div id="content">
                <b>Is a project currently selected?  <?php if (isset($pr_name)) : ?> <span id="dialogue_pr_pos">Yes!</span><br>Name-ID of the current Project: <?=htmlspecialchars($pr_name); ?><?php else: ?> <span id="dialogue_pr_neg">Nope!</span> <?php endif; ?></b>
            </div>
        </div> 
    </body>
</html>
