<?php include 'phtmlHeader.php'; ?>
<!DOCTYPE html>
<html>
    <?php phtmlHeader::getHeader(array(
        'title'  => 'Settings',
    ));?>
    <body>
        <h1>Settings</h1>
        <div>Hopefully, if everything goes the right way, all the settings should be echoed out here</div>
        <ul class="list-settings">
            <?php if (isset($settings)) : ?>
                <?php foreach ($settings as $key => $item) {
                    if(is_array($item)) {
                        echo '<br><li>Category: ' . $key . ':</li><br>';
                        foreach ($item as $key2 => $item2) {
                            echo '<li><blockquote>' . $key2 .': '  . $item2 . '</blockquote></li>';
                        }
                    } else {
                        echo '<li>' . $key .': '  . $item . '</li>';
                    }
                }?>
            <?php else: ?>
                <li>Strangely, the settings did not get carried to here.</li>
            <?php endif; ?>
        </ul>
    </body>
</html>
